.btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    color: white;
    text-decoration: none;
}

.hero--btn {
    background-color: $activeColor;
    font-size: 1.3rem;
    letter-spacing: 1px;

    &:hover {
        background-color: #FBAF85;
    }
}

.zx9--btn {
    background-color: black;

    &:hover {
        background-color: #4C4C4C;
    }
}

.zx7--btn {
    color: black;
    border: 1px solid black;

    &:hover {
        color: white;
        background-color: black;
    }
}