@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Medium.woff2') format('woff2'),
        url('Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Bold.woff2') format('woff2'),
        url('Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.hero__title {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1rem;
    opacity: 0.5;
}

.hero__name {
    color: white;
    font-size: 5.6rem;
    line-height: 5.8rem;
    letter-spacing: 2px;
    margin-bottom: 2.4rem;
    
    @include respond (phones) {
        font-size: 3.6rem;
        line-height: 4rem;
        letter-spacing: 1.29px;

    }
}

.hero__info {
    width: 34.9rem;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 4rem;
    opacity: 0.75;

    @include respond (tablets) {
        margin: 0 auto 4rem auto;
    }

    @include respond (phones) {
        width: 100%;
        margin: 0 auto 2.8rem auto;
    }
}

.devices__title {
    font-size: 1.5rem;
    letter-spacing: 1.29px;
    margin-bottom: 1.5rem;
}

.devices__link {
    display: block;
    width: 5.8rem;
    margin: 0 auto;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: black;
    text-align: left;
    opacity: 0.5;
    text-decoration: none;
    position: relative;

    &::before {
        content: '';
        width: 8px;
        height: 1.2rem;
        background-image: url(../img/strelka.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 2px;
    }

    &:hover {
        color: $activeColor;
    }
}

.zx9__title {
    font-size: 5.6rem;
    line-height: 5.8rem;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 2.4rem;

    @include respond (phones) {
        width: 17.4rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 3.6rem;
        line-height: 4rem;
        letter-spacing: 1.29px;

    }
}

.zx9__info {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: white;
    margin-bottom: 4rem;
}

.gear__title {
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: 1.43px;
    margin-bottom: 3.2rem;

    &-span {
        color: $activeColor;
    }

    @include respond (phones) {
        font-size: 2.8rem;
        line-height: 2.8rem;
        letter-spacing: 1px;
        width: 100%;
        padding: 0 3rem;
    }
}

.gear__info {
    font-size: 1.5rem;
    line-height: 2.5rem;

    @include respond (phones) {
        width: 100%;
        padding: 0 1rem;
    }
}

.footer__info {
    max-width: 54rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: white;
    opacity: 0.5;
    margin-bottom: 5.6rem;

    @include respond (tablets) {
        display: block;
        max-width: 68.9rem;
    }
}

.copyright {
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;

    @include respond (phones) {
        margin-bottom: 4.8rem;
    }
}

.h-hero__title,
.s-hero__title,
.e-hero__title {
    color: white;
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: 1.43px;

    @include respond (phones) {
        font-size: 2.8rem;
        letter-spacing: 2px;
    }
}

.headphones__title,
.speakers__title,
.earphones__title {
    font-size: 1.4rem;
    color: $activeColor;
    letter-spacing: 1rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

.price {
    font-size: 1.8rem;
    letter-spacing: 1.29px;
    margin-bottom: 4.7rem;
}

.box__title {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: 1.14px;
    margin-bottom: 3.2rem;

    @include respond (tablets) {
        width: 50%;
    }

    @include respond (tablets) {
        width: 100%;
    }
}

.like__title {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: 1.14px;
    margin-bottom: 6.4rem;
}

.box__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.5;
}

.like__sub-title {
    font-size: 2.4rem;
    letter-spacing: 1.71px;
    margin-top: 4rem;
    margin-bottom: 3.2rem;
}

.h__text,
.checkout__text {
    opacity: 0.5;
    margin-top: 7.9rem;
    margin-bottom: 5.6rem;
    
    @include respond (phones) {
        margin-top: 1.6rem;
        margin-bottom: 2.4rem;
    }
}

.modal__title {
    font-size: 1.8rem;
    letter-spacing: 1.29px;
}

.modal-name {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.modal-price {
    font-size: 1.4rem;
    line-height: 2.5rem;
    opacity: 0.5;
}

.modal-count {
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 7px 4rem;
    background-color: #F1F1F1;
    position: relative;

    &::before {
        content: '-';
        width: 1.6rem;
        height: 1.8rem;
        position: absolute;
        top: 7px;
        left: 11px;
        opacity: 0.25;
    }

    &::after {
        content: '+';
        width: 1.6rem;
        height: 1.8rem;
        position: absolute;
        top: 7px;
        right: 2px;
        opacity: 0.25;
    }
}

.checkout__title {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: 1.14px;
    margin-bottom: 4.1rem;
}

.form__title {
    font-size: 1.3rem;
    line-height: 2.5ren;
    letter-spacing: 0.93px;
    color: $activeColor;
    margin-bottom: 1.6rem;
}

.cash-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 8rem;
    position: relative;

    &::before {
        content: '';
        width: 4.8rem;
        height: 4.8rem;
        background-image: url(../../img/cash-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 1.4rem;
        left: 0;
    }
}

.summary-count {
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.5;
}

.summary__total {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: $activeColor;
}