.footer {
    background-color: #101010;
}

.footer__container {
    padding-top: 7.5rem;
    padding-bottom: 4.8rem;
    position: relative;

    &::before {
        content: '';
        width: 10.1rem;
        height: 4px;
        background-color: $activeColor;
        position: absolute;
        top: 0;
        left: 1.5rem;
    }
}

.footer__nav {
    width: 100%;
    margin-bottom: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond (tablets) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.sot-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.icon {
    fill: white;
}

.sot-set__link:hover .icon {
    fill: $activeColor;
}