.h-hero,
.s-hero,
.e-hero {
    background-color: #141414;
}

.h-hero__container,
.s-hero__container,
.e-hero__container {
    padding: 9.7rem 0;
    text-align: center;

    @include respond (phones) {
        padding: 3.2rem 0;
    }
}