.nav__list {
    @include reset-list;
    color: white;
}

.nav__list--footer {
    @include respond (phones) {
        flex-direction: column;
    }
}

.devices__list {
    @include reset-list;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;

    @include respond (phones) {
        flex-direction: column;
    }
}

.devices-burger__list {
    @include reset-list;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
    
    @include respond (phones) {
        flex-direction: column;
    }
}

.types__list {
    @include reset-list;
    flex-direction: column;
    width: 100%;
}

.sot-set__list {
    @include reset-list;
    width: 10.4rem;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 8.8rem;
    position: absolute;
    right: 0;
    top: -8.8rem;
    z-index: 3;

    @include respond (tablets) {
        top: 0;
    }

    @include respond (phones) {
        position: unset;
    }
}

.headphones__list,
.speakers__list {
    @include reset-list;
    flex-direction: column;
}

.box__list {
    list-style: none;

    @include respond (tablets) {
        width: 50%;
    }

    @include respond (tablets) {
        width: 100%;
    }
}

.like__list {
    @include reset-list;
    width: 100%;
    justify-content: space-between;

    @include respond (phones) {
        flex-direction: column;
    }
}

.modal__list {
    list-style: none;
    margin-bottom: 3.2rem;
}