.nav {
    margin-left: 19.7rem;

    @include respond (tablets) {
        display: none;
    }
}

.footer__navbar {
    margin-left: 19.7rem;
    
    @include respond (tablets) {
        margin-left: 0;
        margin-top: 3.2rem;
    }
}
