.types__list-item {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 4.8rem;
    }
}

.zx9 {
    padding-top: 13.3rem;
    padding-right: 9.5rem;
    padding-bottom: 12.4rem;
    display: flex;
    align-items: flex-end;
    background: url(../img/zx9.png) no-repeat center center;
    background-color: $activeColor;
    border-radius: 8px;
    
    @include respond (tablets) {
        padding: 35.3rem 17rem 6.4rem 17rem;
        background: url(../img/zx9-tablet.png) no-repeat center top -29rem;
        background-color: $activeColor;
        align-items: center;
        text-align: center;
    }
    
    @include respond (phones) {
        padding: 29.4rem 2.3rem 5.5rem 2.3rem;
        background: url(../img/zx9-mobile.png) no-repeat center top 0;
        background-color: $activeColor;
        align-items: center;
    }
}

.zx9-box {
    width: 34.9rem;
    margin-left: auto;

    @include respond (tablets) {
        margin: 0 auto;
    }
}

.zx7 {
    padding-top: 10.1rem;
    padding-bottom: 10.1rem;
    padding-left: 9.5rem;
    background: url(../img/zx7.jpg) no-repeat center center;
    border-radius: 8px;

    &__title {
        font-size: 2.8rem;
        letter-spacing: 2px;
        margin-bottom: 3.2rem;
    }

    @include respond (tablets) {
        padding-left: 6.2rem;
        background: url(../img/zx7-tablet.png) no-repeat center center;
        background-size: cover;
    }

    @include respond (phones) {
        padding-left: 2.4rem;
        background: url(../img/zx7-mobile.png) no-repeat center center;
        background-size: cover;
    }
}

.yx1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond (phones) {
        flex-direction: column;
    }
}

.yx1-box {
    background-color: #F1F1F1;
    padding: 10.1rem 19.8rem 10.1rem 9.5rem;
    border-radius: 8px;
    
    &__title {
        font-size: 2.8rem;
        letter-spacing: 2px;
        margin-bottom: 4.2rem;

        @include respond (phones) {
            margin-bottom: 4.2rem;
            width: 100%;
        }
    }
    
    @include respond (tablets) {
        padding: 10.1rem 5.1rem 10.1rem 4.1rem;
    }

    @include respond (phones) {
        padding: 4.1rem 5.4rem 4.1rem 2.4rem;
        margin-top: 2.4rem;
    }
}